@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1208px;
    margin: 0 auto
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.color{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}

.button{
    padding: 20px 35px;
    border-radius: 30px;
    text-transform: uppercase;
    border: none;
    transition: 0.5s;
    display: block;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.button:hover{
    background-position: right center;
}

/* header */

.header{
    position: absolute;
    width: 100%;
}

.header .header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__logo{
    display: flex;
    align-items: center;
}

.header .header__logo img{
    display: block;
}

.header nav{
    display: flex;
    align-items: center;
}

.header nav ul{
    display: flex;
    
}

.header li{
    padding: 60px 15px;
}

.header li:hover a{
    color: #F5608D;
    transition: 1s;
}
.header li span{
    font-weight: 500;
    display: inline-block;
}

.header li:hover span{
    animation: ScrollMenu 0.5s;
}

.header li i{
    font-size: 10px;
    margin-left: 3px;
}

.header li a{
    display: flex;
    align-items: center;
}

.header button{
    margin-left: 30px;
}

@keyframes ScrollMenu{
    49%{
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-100%);
        opacity: 0;
        
    }
    100%{
        transform: translateY(0%);
    }
}

/* banner */

.banner{
    padding: 200px 0px 48px 0px;
    background: url(./img/pic2.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.banner .banner__content{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.banner .banner__title{
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
}

.banner .banner__image{
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
}



.banner .banner__title .best{
    font-size: 23px;
    font-weight: 600;
    color: #F55F8D;
    display: block;
}

.banner .banner__title h2{
    font-size: 70px;
    margin: 30px 0;
}

.banner .banner__title p{
    font-size: 20px;
    color: #6F6F6F;
}

.banner .banner__title ul {
    margin: 30px 0;
}

.banner .banner__title ul li{
    margin: 20px 0;
    font-size: 19px;
    color: #636363;
}   

.banner .banner__title ul li i{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    margin-right: 20px;;
}

/* service */
.service{
    padding: 48px 0;
    background: url(./img/bg2.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    text-align: center;
}

.service .service__title{
    margin-bottom: 40px;
}

.service .service__title span{
    font-size: 22px;
    color: #f55f8d;
}

.service .service__title h2{
    font-size: 70px;
    margin: 20px 0;
}

.service .service__content--item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0 30px;
    
}

.service .service__item{
    background-color: #FEFEFE;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 40px;
    border-radius: 10px;
    transition: 1s;
}

.service .service__item:hover{
    transform: translateY(-20px);
}

.service .service__item img{
    width: 200px;
}

.service .service__text{
    margin-top: 20px;
}

.service .service__text h3{
    font-size: 22px;
}

.service .service__text p{
    margin-top: 20px;
    line-height: 25px;
    color: #878787;
}

/* about */

.about{
    padding: 100px 0;
    background-image: url(./img/bg15.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

.about .about__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    align-items: center;
}

.about .about__image{
    position: absolute;
    left: -17%;
}

.about .about__image img{
    width: 100%;
    display: block;
    border-bottom-right-radius: 20%;
    border-top-right-radius: 20%;
}

.about .about__image{
    flex: 0 0 60%;
    max-width: 60%;
}

.about .about__title{
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about__title span{
    font-size: 22px;
    color: #f55f8d;
    font-weight: 600;
}

.about .about__title h2{
    font-size: 70px;
    margin: 20px 0;
}

.about .about__title p{
    font-size: 17px;
    line-height: 25px;
    color: #636363;
    margin-bottom: 30px;
}
.about .about__title ul li {
    margin: 15px 0;
}

.about .about__title ul li i{
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    border: 2px solid #f55f8d;
    border-radius: 50%;
    font-size: 15px;
    color: #f55f8d;
    margin-right: 15px;
}

.about .about__title ul li span{
    font-size: 17px;
    line-height: 25px;
    color: #636363;
    font-weight: 400;
}

.about .about__button{
    margin-top: 50px;
}

/* number */

.number{
    background-image: url(./img/bg14.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 88px 0;
}

.number .number__content{
    display: flex;
    flex-wrap: wrap;
}

.number .number__content .number__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 25%;
    max-width: 25%;
}

.number .number__content .number__item i{
    font-size: 45px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}

.number .number__content .number__item h2{
    font-size: 65px;
    color: #F55F8D;
    margin: 15px 0;
}

/* features */
.features{
    padding: 48px 0;
    background-image: url(./img/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 0;
}

.features .features__title .features__heading span{
    font-size: 22px;
    color: #f55f8d;
    font-weight: 600;
}

.features .features__title .features__heading h2{
    font-size: 70px;
    margin: 20px 0;
}

.features .features__content{
    display: flex;
    flex-wrap: wrap;
}

.features .features--width{
    flex: 0 0 50%;
    max-width: 50%;
}

.features .padding--right{
    padding: 0px 50px 30px 0px;
}

.features .padding--left{
    padding: 0px 0px 30px 50px;
}

.features .features__item .item--padding{
    display: flex;
    padding: 35px;
    align-items: center;
    background-color: #fff;
    margin-bottom: 200px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
    transition: 1s;
}

.features .features__item .item--padding:hover{
    color: #fff;
}

.features .features__item .item--padding::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    opacity: 0;
    transition: 1s;
    z-index: -1;
}

.features .features__item .item--padding:hover::before{
    opacity: 1;
}

.features .features__item i{
    font-size: 80px;
    color: #f55f8d;
    margin-right: 30px;
    transition: 1s;
}

.features .features__item .item--padding:hover i{
    color: #fff;
}

.features .features__text h3{
    font-size: 23px;
}

.features .features__text p{
    font-size: 17px;
    margin-top: 17px;
    color:#636363;
    line-height: 25px;
}

.features .features__image img{
    display: block;
    width: 110%;
    animation: scale 5s infinite;
}


@keyframes scale{
    0%{
        transform: rotate(1deg) translate(2px,2px);
    }
    50%{
        transform: rotate(-1deg) translate(-2px,-2px);
    }
    100%{
        transform: rotate(1deg)  translate(2px,2px);
    }
}

/* portfolio */

.portfolio{
    padding: 48px 0;
    background: url(./img/bg17.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolio .portfolio__content .portfolio__title{
    text-align: center;
}

.portfolio .portfolio__content .portfolio__title span{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.portfolio .portfolio__content .portfolio__title h2{
    font-size: 70px;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.portfolio .portfolio__image{
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 30px
}

.portfolio .portfolio__item img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit:  cover;
}

.portfolio .portfolio__item{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.portfolio .item-1{
    grid-column: 1 / span 2;
}

.portfolio  .item-6{
    grid-row: 2/ span 2;
    grid-column: 3/4;
}

.portfolio .item__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.portfolio .item__overlay:after{
    content:"";
    width: 50%;
    height: 100%;
    position: absolute;
    transition: all 0.8s;
    transform: skewX(-25deg);
    left: -100%;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
}

.portfolio .item__overlay:hover:after{
    left: 125%;    
}

.portfolio .item__overlay:hover{
    background-color: rgba(0,0,0,.4);
}



.portfolio .item__icon{
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 6px;
    opacity: 0;
    transition: 0.7s;
    cursor: pointer;
}

.portfolio .item__overlay:hover .item__icon{
    top: 25px;
    right: 25px;
    opacity: 1;
}

.portfolio .item__icon i{
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    color: #fff;
}

.portfolio .item__text{
    position: absolute;
    bottom: -120px;
    left: 25px;
    color: #fff;
    transition: 0.5s;
}

.portfolio .item__overlay:hover .item__text{
    bottom: 25px;
}

.portfolio .item__text h3{
    font-size: 20px;
    margin-bottom: 15px;
}

/* start plan */
.plan{
    padding: 48px 0;
    background-image: url(./img/bg16.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.plan .plan__title{
    text-align: center;
}

.plan .plan__title span{
    font-size: 22px;
    color: #f55f8d;
    font-weight: 700;
}

.plan .plan__title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin: 20px;
}

.plan .plan__content--item{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
}

.plan .plan__item{
    /* border: 4px dashed #262626; */
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 35px 60px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border: 3px solid #fff;
    border-image: 50 round;
    transition: 0.3s;
}

.plan .plan__item:hover{
    border-image: url('./img/br.png') 1 round;
}

.plan .plan__img{
    text-align: center;
    border-bottom: 1px solid #e1e1f0;
    padding-bottom: 25px;
}
.plan .plan__img h3{
    font-size: 32px;
}

.plan .plan__img p span{
    font-size: 50px;
    color: #F8AE56;
    font-weight: 800;
    
}

.plan .plan__img p {
    font-weight: 700;
    font-size: 20px;
}


.plan .plan__img img{
    width: 125px;
}

.plan .plan__text{
    padding-top: 25px;
}

.plan .plan__text ul li{
    margin-bottom: 15px;
}

.plan .plan__text ul li i{
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: #FEEFF3;
    margin-right: 20px;
    color: #F88D93;
}

.plan .plan__button button{
    margin: 0 auto;
}

/* end plan */

/* start testimonial */
.testimonial{
    padding: 70px 0;
    background-image: url(./img/bg17.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.testimonial .testimonial__title{
    text-align: center;
}

.testimonial .testimonial__title p{
    font-size: 22px;
    color: rgb(245, 95, 141);
    font-weight: 700;
}

.testimonial .testimonial__title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin: 20px;
}

.testimonial .testimonial__clients{
    text-align: center;
}

.testimonial .testimonial__image{
    display: flex;
    justify-content: center;
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 200px;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
}

.testimonial .testimonial__image::after{
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 100%;
    position: absolute;
    background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%);
    z-index: 3;
}

.testimonial .testimonial__image::before{
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 100%;
    position: absolute;
    background: linear-gradient(to left,#fff 0,rgba(255,255,255,0) 100%);
    z-index: 3;
}

.testimonial .testimonial__img img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    
    z-index: 2;
    background-color: #F55F8D;
}

.testimonial .testimonial__text{

}

.testimonial .testimonial__item{
    position: relative;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
}

.testimonial .testimonial__item i{
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 70px;
    color: #F55F8D;
    transform: rotate(180deg);
}

.testimonial .testimonial__item h3{
    font-size: 23px;
}

.testimonial .testimonial__item span{
    font-size: 20px;
    font-style: italic;
    color: #F55F8D;
    margin-top: 13px;
    display: block;
}

.testimonial .testimonial__item p{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
    color: #707070;
    margin-top: 40px;
    line-height: 30px;
}

.testimonial .swiper-slide-thumb-active{
    transform: translateY(-40px);
    transition: all 0.3s;
    opacity: 1;
}


.testimonial .testimonial__img{
    position: relative;
}

.testimonial .testimonial__img::after{
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color:rgb(245, 95, 141);
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.testimonial .testimonial__img::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:rgb(245, 95, 141);
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.swiper-slide-thumb-active .testimonial__img::before, .swiper-slide-thumb-active .testimonial__img::after{
    opacity: 1;
}


.testimonial .testimonial__img .dots{
    width: 50px;
    height: 35px;
    background-color: #F55F8D;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
    z-index: -1;
    opacity: 0;
    transition: all 2s;
}

.testimonial .testimonial__img .dots::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    background-size: cover;
    background-image: url(./img/pattern12.png);
    height: 100%;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
}

.swiper-slide-thumb-active .testimonial__img .dots{
    opacity: 1;
}

.swiper-horizontal .swiper-pagination-bullets{
    bottom: auto;
    transform: translateY(15px);
}

:root {
    --swiper-theme-color: #F55F8D;
}

/* end testimonial */


/* start blog */

.blog{
    padding: 48px 0;
    background-image: url(./img/bg16.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog .blog__title{
    text-align: center;
}

.blog .blog__title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.blog .blog__title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.blog .content--item{
    /* display: flex; */
}

.blog .item__img{
    position: relative;
    background-color: #FEEFF3;
}

.blog .item__img img{
    width: 100%;
    display: block;
    border-radius: 10px;
}

.blog .item__img span{
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    left: 20px;
}

.blog .blog__body{
    background-color: #FEEFF3;
    padding: 35px 15px;
    border-bottom: 1px solid rgb(0 0 0 / 5%);
}

.blog .blog__body h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}

.blog .blog__body p{
    color: #636363;
    margin-top: 20px;
    line-height: 25px;
}


.blog .blog__footer{ 
    background-color: #FEEFF3;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
}

.blog .blog__footer p{
    margin-right: 20px;
    align-items: center;
    color: #636363;
    text-transform: uppercase;
}

.blog .blog__footer p i, .blog .blog__footer p span{
    color: #f55f8d;
}

/* start footer */

.footer{
    background: url(./img/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}

.footer::after{
    content: "";
    background: url(./img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer .footer__email {
    display: flex;
    background: url(./img/pattern3.png);
    background-position: center center;
    background-size: cover;
    background-color: #fff;
    padding: 50px 60px; 
    position: relative;
    z-index: 1;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.footer .width{
    flex: 50%;
    max-width: 50%;
}

.footer .footer__email h2{
    font-size: 28px;
    color: #262626;
}

.footer .footer__input{
    display: flex;
}

.footer .footer__input input{
    width: 100%;
    height: 65px;
    padding: 0 20px;
    border: none;
    outline: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px ;
    font-size: 16px;
    border: 1px solid #fff;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.footer .footer__input button{
    border: none;
    padding: 0 40px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px ;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px ;
    cursor: pointer;
}

.footer .footer__input button i{
    font-size: 17px;
    color: #fff;
    
}

.footer .footer__input button:hover i{
    animation: plane 0.5s;
}


@keyframes plane{
    0%{
        transform: translateX(0px);
    }
    50%{    
        transform: translateX(30px);
        opacity: 0;
    }
    70%{
        transform: translateX(-20px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}


.footer .footer__samar{
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
    color: #fff;
    position: relative;
    z-index: 1;
}

.footer .footer__samar .footer__item{
    flex: 0 0 25%;
    max-width: 25%;
}

.footer .footer__samar .footer__item ul li{
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer__samar .footer__item .contact li i{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
}

.footer .footer__samar .footer__item .contact li span{
    line-height: 28px;
}

.footer .footer__samar .footer__item h2 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}

.footer .footer__samar .footer__item h2::after{
    content: "";
    width: 15px;
    height: 5px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    background-size: 200%;
    position: absolute;
    bottom: 0;
    border-radius: 2px;
    margin-right: 10px;
    left: 0;
}

.footer .footer__samar .footer__item h2::before{
    content: "";
    width: 40px;
    height: 5px;
    background-color: #fff;
    display: block;
    position: absolute;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    bottom: 0;
    background-size: 200%;
    left: 20px;
    border-radius: 2px;
    margin-right: 10px;
}

.footer .footer__samar .footer__item ul li{
    line-height: 35px;
}

.footer .footer__samar .footer__item ul li a{
    color: #636363;
    transition: all 0.5s;
}

.footer .footer__samar .footer__item ul li a i{
    margin-right: 12px;
}

.footer .footer__samar .footer__item ul li a:hover{
    color: #fff;
}

.footer__copyright{
    padding: 10px 0;
    background-color: #1F343B;
    position: relative;
    z-index: 1;
}

.footer .copyright__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .copyright__container span{
    color: #F55F8D;
}

.footer .footer__social i{
    height: 40px;
    width: 40px;
    line-height:40px;
    text-align: center;
    background-color: rgb(255 255 255 / 10%);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer .footer__social i:hover{
    color: #fff;
    background-color: #F55F8D;
}

.scroll--top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color:rgb(245, 95, 141);
    z-index: 10;
    border-radius: 10px;
    cursor: pointer;
}

.scroll--top i{
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}